<ion-view>
  <ion-content class="padding">
  	<form id="form-edit">
  		<span class = "text-big">{{getdata._nombreEmpleado}}</span>
		<span>{{getdata.fechaTexto}}</span>
    <div ng-repeat = "data in getdata.actividades">
  		<strong>{{data.actividad}}:</strong>
  		<span>Hora entrada: {{data.HoraEntrada}}&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: {{data.HoraSalida}}</span>
    </div>
		<br>
  		<textarea id="comment" placeholder="Escribe la novedad">{{getdata._ComentarioSupervisor}}</textarea><br>
  		<button type="button" class="button button-positive button-block" ng-click="send();">Guardar</button>
  		<button type="button" class="button button-balanced button-block" ng-click ="approve();">Aprobar</button>
  	</form>
  </ion-content>
</ion-view>

