<ion-view>
  <ion-content class="padding">
	<div class="row responsive-sm">
	  <div class="col"></div>
	  <div class="col"></div>
	</div>
  <img class="img-small" src="img/mincivil-logo.png"><br><br>
    <h5>REPORTE DE HORAS MINCIVIL</h5>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Usuario">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Contraseña">
      </label>
    </div>
    <button class="button button-positive button-full" ng-click="login();">Ingresar</button>  
    <button class="button button-balanced button-full" ng-click="QRcode();">Capturar QR</button>
  </ion-content>
</ion-view>
