<div class="bar bar-header bar-balanced">
  <h1 class="title" id="title">Coloca tu rostro frente a la camara</h1>
</div>

<div class="tabs tabs-icon-top">
  <a class="tab-item" ui-sref="tab.capture" ng-show="capture">
    <i class="icon ion-clock"></i>
    Capturar Hora
  </a>
  <a class="tab-item" ui-sref="tab.todayhours">
    <i class="icon ion-ios-information"></i>
    Registro día
  </a>
  <a class="tab-item" ng-click="logoff();">
    <i class="icon ion-power"></i>
    Cerrar sesión
  </a>
</div>

<ion-nav-view cache-view="false"></ion-nav-view>