<div class="bar bar-header bar-balanced">
  <h1 class="title">Coloca tu rostro frente a la camara</h1>
</div>

<div class="tabs tabs-icon-top">
  <a class="tab-item" ui-sref="tab.capture">
    <i class="icon ion-clock"></i>
    Capturar Hora
  </a>
  <a class="tab-item" ui-sref="tab.todayhours">
    <i class="icon ion-ios-information"></i>
    Registro día
  </a>
  <a class="tab-item" ui-sref="login">
    <i class="icon ion-power"></i>
    Cerrar sesión
  </a>
</div>

<ion-nav-view></ion-nav-view>