<ion-scroll scroll-vertical direction="y">
	<div>
		<div class="list list-inset" ng-show="searchVisible">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="searchName._nombreEmpleado">
		  </label>
		</div>
		<div ng-show="searchDateVisible">
			<div class="row">
			  <label class="col">
			    <span class="">Fecha inicial</span>
			    <input class="input-diarios" id="finicial" type="date" value="{{today}}">
			  </label>
			  <label class="col">
			    <span class="">Fecha final</span>
			    <input class="input-diarios" id="ffinal" type="date" value="{{today}}">
			  </label>
			</div>
			<div class="padding-diarios">
				<button class="button button-positive button-block" ng-click="GetHorasUsuarioapp();">Buscar</button>
			</div>
		</div>
	</div>
	<br>
	<div id="list-register" class="list">
	  <div class="item item-divider accordion">Registros Completos</div>
	  	<div class="panels">
		  <!--<div class="sub-panel">&nbsp;&nbsp;&nbsp;&nbsp;Hoy</div>-->
		  <div ng-repeat="data in list.Register | filter:searchName._nombreEmpleado" style="position:relative !important;">
			  <a class="item" ng-click = "Employment(data);">
				<span class="title-color text-medium">{{data._nombreEmpleado}}</span>
				<span class="text-small ">{{data.fechaTexto}}</span>
				<span ng-repeat="activi in data.actividades" id="{{data._id}}" class="text-small">{{activi.actividad}}: Hora I: {{activi.HoraEntrada}}&nbsp;&nbsp;&nbsp;&nbsp;Hora F:{{activi.HoraSalida}}</span>
			  </a>		  	
			  <div class="check" ng-click="approve($event,data);" ng-show="searchVisible"><i class="ion-checkmark-circled"></i></div>
		  </div>
	 </div>
	<div id="list-register" class="list">
	  <div class="item item-divider accordion">Registros Incompletos</div>
	  	<div class="panels">
		  <!--<div class="sub-panel">&nbsp;&nbsp;&nbsp;&nbsp;Hoy</div>-->
		  <div ng-repeat="data in list.incomplete | filter:searchName._nombreEmpleado" style="position:relative !important;">
			  <a class="item" ng-click = "Employment(data);">
				<span class="title-color text-medium">{{data._nombreEmpleado}}</span>
				<span class="text-small ">{{data.fechaTexto}}</span>
				<span ng-repeat="activi in data.actividades" id="{{data._id}}" class="text-small">{{activi.actividad}}: Hora I: {{activi.HoraEntrada}}&nbsp;&nbsp;&nbsp;&nbsp;Hora F: {{activi.HoraSalida}}</span>
			  </a>		  	
			  <div class="check" ng-click="approve($event,data);" ng-show="searchVisible"><i class="ion-checkmark-circled"></i></div>
		  </div>
	  </div>
	  <div class="item item-divider accordion">Usuarios no Registrados</div>
	  <div class="panels">
	  	  <!--<div class="sub-panel">&nbsp;&nbsp;&nbsp;&nbsp;Hoy</div>-->
		  <div ng-repeat="data in list.NoRegister | filter:searchName._nombreEmpleado" style="position:relative !important;">
			  <a class="item" ng-click = "Employment(data);">
				<span class="title-color text-medium">{{data._nombreEmpleado}}</span>
				<span class="text-small ">{{data.fechaTexto}}</span>
				<span ng-repeat="activi in data.actividades" id="{{data._id}}" class="text-small">{{activi.actividad}}: Hora I: {{activi.HoraEntrada}}&nbsp;&nbsp;&nbsp;&nbsp;Hora F: {{activi.HoraSalida}}</span>
			  </a>		  	
			  <div id="check" class="check" ng-click="approve($event,data);" ng-show="searchVisible"><i class="ion-checkmark-circled"></i></div>
		  </div>
	  </div>
	</div>
 </ion-scroll>