<ion-scroll direction="y" style="height: 500px">
	<div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
		  </label>
		</div>
	</div>
	<br>

	<div id="list-register" class="list">

	  <div class="item item-divider accordion">Registros completos</div>
	  	<div class="panels">
		  <div class="sub-panel">&nbsp;&nbsp;&nbsp;&nbsp;Hoy</div>
		  <a class="item" ui-sref="tab.edithours">
			<span class="title-color text-medium">Miguel Angel Gonzalez Pinto</span>
			<span class="text-small ">Lunes 24 de Marzo</span>
			<span class="text-small">Turno 1: Hora entrada: 8:00&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: 12:00</span>
			<span class="text-small">Turno 2: Hora entrada: 13:00&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: 17:00</span>
			<div id="" class="check"><i class="ion-checkmark-circled"></i></div>
		  </a>
		  <a class="item" ui-sref="tab.edithours">
			<span class="title-color text-medium">Miguel Angel Gonzalez Pinto</span>
			<span class="text-small ">Lunes 24 de Marzo</span>
			<span class="text-small">Turno 1: Hora entrada: 8:00&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: 12:00</span>
			<span class="text-small">Turno 2: Hora entrada: 13:00&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: 17:00</span>
			<div id="" class="check"><i class="ion-checkmark-circled"></i></div>
		  </a>
		  <div class="sub-panel">&nbsp;&nbsp;&nbsp;&nbsp;Ayer</div>
		  <a class="item" ui-sref="tab.edithours">
			<span class="title-color text-medium">Miguel Angel Gonzalez Pinto</span>
			<span class="text-small">Lunes 24 de Marzo</span>
			<span class="text-small">Turno 1: Hora entrada: 8:00&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: 12:00</span>
			<div id="" class="check"><i class="ion-checkmark-circled"></i></div>
		  </a>
		  <div class="sub-panel">&nbsp;&nbsp;&nbsp;&nbsp;27 de Marzo</div>
		</div>
	  <div class="item item-divider accordion">Registros no completados</div>
	  <div class="panels">
	  	  <div class="sub-panel">&nbsp;&nbsp;&nbsp;&nbsp;Hoy</div>
		  <a class="item" ui-sref="tab.edithours">
			<span class="title-color text-medium">Miguel Angel Gonzalez Pinto</span>
			<span class="text-small">Lunes 24 de Marzo</span>
			<span class="text-small">Turno 1: Hora entrada: 8:00&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: 12:00</span>
			<div id="" class="check"><i class="ion-checkmark-circled"></i></div>
		  </a>
		  <a class="item" ui-sref="tab.edithours">
			<span class="title-color text-medium">Miguel Angel Gonzalez Pinto</span>
			<span class="text-small">Lunes 24 de Marzo</span>
			<span class="text-small">Turno 1: Hora entrada: 8:00&nbsp;&nbsp;&nbsp;&nbsp;Hora salida: 12:00</span>
			<div id="" class="check"><i class="ion-checkmark-circled"></i></div>
		  </a>
	  </div>
	</div>
 </ion-scroll>