.img-small{
	width: 30%;
	display:block;
	margin: 0 auto;
}

.text-small{
	font-size: 10px;
}

.text-big{

}

h5{
	text-align: center;
}

#photo {
    height: 300px;
    width: 100%;
}

#gallery {
    margin: 5px 0;
    background: #f6f6f6;
}

.title-color{
	color: #1558c0;
}

video{
	position: relative;
	/* left: -25%; */
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	filter: FlipH;
	width: 100%;
	z-index: 2;
}

canvas{
	position: absolute;
	z-index: 4;
	top: 0;
	transform: scaleX(-1);
}

#container-video{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#take-photo{
	font-size: 50px;
	float: right;
	z-index: 2000;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
}

#box-img-capture{
	position: absolute;
	width: 100%;
	height: 100%;
}

#mouth{

}

.eyes{
	position: absolute;
	width: 100px;
	height: 50px;
	border: 2px solid;
}

#eyer{

}

#eyel{

}

#nose{
	
}

#image{
	position: absolute;
	z-index: 2000;
	width: 300px;
	height: 400px;
	top: 0;
	left: 0;
	transform: scaleX(-1);
}

.rect {
    border: 2px solid #a64ceb;
    left: -1000px;
    position: absolute;
    top: -1000px;
    z-index: 5000;
 }

 .check{
 	color: #43b901;
 	font-size: 30px;
 	top: 10px;
 	position: absolute;
 	z-index: 3000;
 	right: 12px;
 }

 #list-register a span{
 	line-height: 1.5 !important;
 	display: block;
 }

 .text-medium{
 	font-size: 14px;
 }

 .panels{
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
 }

 .sub-panel{
	background: #2d5869;
	color: white;
	font-size: 14px;
}

 div.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

div.accordion.active:after {
    content: "\2212";
}

textarea{
	height: 90px;
	resize: none;
	width: 100%;
	border: 1px solid black;
	padding: 5px;
	border-radius: 10px;
}

#form-edit span{
	display: block;
	line-height: 2;
}

.input-diarios{
	border: 1px solid #ddd !important;
	border-radius: 5px !important;
	padding-top: 0px !important;
	padding-left: 4px !important;
	width: 100% !important;
}
.padding-diarios{
	padding: 0px 10px;
}
.padding-diarios button{
	margin-top: 0px !important;
	margin-bottom: -5px !important;	
}

.load{
	background-image: url(../img/load.gif);
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3000;
}
.brackground-load{
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: none;
}

#chooseActivities{
	
width: 100%;
	
position: absolute;
	
background: white;
	
top: 0 !important;
	
box-shadow: 2px 2px 6px black;
	
z-index: 5000;
	
border-radius: 10px;
}

#list-Activitie{
	
}

.icon-arrow-style{
	font-size: 30px;
	margin-left: 10px;
	color: #33cd5f;
}